.memory-button.selected {
  border: 1px solid #00BFFF;
  font-weight: bold; 
  color: #00BFFF; 
}

.custom-emerald {
  background-color: #18ad40; 
}

.logo-container {
  background-color: white; 
  width: fit-content;
  border-radius: 50%; 
  padding: 10px; 
}
.custom-button {
  padding: 8px 60px;
  background-color: #68d391; /* Màu nền xanh lá cây */
  color: #ffffff; /* Màu chữ trắng */
  border: none; /* Loại bỏ đường viền */
  border-radius: 5px; /* Bo góc */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Hiệu ứng bóng đen */
}


.opt-container {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.opt-container input {
  margin-right: 0;
  flex: 1;
  padding: 0.5rem;
  outline: none;
}

